.counter {
	margin-top: 20px;
}

.counter__number {
	font-size: 120px;
	line-height: 1;
}

.header-main {
	padding: 20px 0;
}

.header-main__logo {
	height: 30px;
}

.shortcuts {
	margin-top: 1rem;
}

.shortcuts__list {
	max-width: 400px;
}

.keycode {
	display: flex;
	align-items: center;
}

.keycode__letter {
	height: 30px;
	width: 30px;
	background-color: rgba(0,0,0,.4);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 1rem;
	border-radius: 5px;
	color: var(--ion-color-primary-contrast);
	margin-right: 1rem;
}

@media (min-width: 768px) {
	.counter {
		margin-top: 100px;
	}

	.header-main__logo {
		height: 40px;
	}
}